In [6]:
import pandas as pd
import numpy as np
pd.set_option('html', True)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 25)

In [38]:
df = pd.read_csv("../data/asylum_seekers.csv")

In [42]:
df_filtered15 = df[(df.Year == 2015)]
df_filtered16 = df[(df.Year == 2016)]
df_filtered15

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
108034,2015,United States of America,Afghanistan,G / IN,311,NaN,298,131,NaN,1,39,171,464,NaN
108035,2015,United States of America,Afghanistan,G / EO,102,NaN,40,13,NaN,16,14,43,145,NaN
108036,2015,South Africa,Afghanistan,G / FI,2,0,0,NaN,NaN,1,NaN,1,1,0
108037,2015,South Africa,Afghanistan,G / AR,4,0,0,NaN,NaN,NaN,NaN,NaN,4,0
108038,2015,Pakistan,Afghanistan,U / AR,2235,2235,2252,117,NaN,1501,4,1622,2865,2865
108039,2015,Pakistan,Afghanistan,U / FI,3225,3225,6487,2322,NaN,2729,1168,6219,3493,3493
108040,2015,Panama,Afghanistan,G / FI,8,8,NaN,NaN,NaN,NaN,NaN,NaN,8,8
108041,2015,Philippines,Afghanistan,G / FI,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1,0
108042,2015,Papua New Guinea,Afghanistan,G / FI,7,0,1,49,NaN,0,NaN,49,7,NaN
108043,2015,Poland,Afghanistan,G / FI,4,NaN,15,8,7,4,12,31,9,NaN
108044,2015,Poland,Afghanistan,G / RA,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108045,2015,Portugal,Afghanistan,G / FI,2,0,4,0,1,0,4,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119247,2015,Luxembourg,Zimbabwe,G / RA,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
119248,2015,Luxembourg,Zimbabwe,G / FI,2,NaN,1,NaN,NaN,2,NaN,2,1,0
119249,2015,Latvia,Zimbabwe,G / FI,0,0,0,0,0,0,0,NaN,0,0
119250,2015,Malaysia,Zimbabwe,U / FI,NaN,NaN,1,1,NaN,NaN,NaN,1,0,0
119251,2015,Namibia,Zimbabwe,G / FI,68,53,14,6,NaN,NaN,NaN,6,76,61
119252,2015,Netherlands,Zimbabwe,G / FI,7,NaN,8,1,NaN,6,2,9,5,NaN
119253,2015,Netherlands,Zimbabwe,G / RA,NaN,NaN,4,1,NaN,2,NaN,3,NaN,NaN
119254,2015,Norway,Zimbabwe,G / AR,0,0,1,0,0,1,0,1,0,0
119255,2015,Norway,Zimbabwe,G / RA,0,0,0,0,0,0,0,NaN,0,0
119256,2015,Norway,Zimbabwe,G / FI,0,0,2,0,0,0,NaN,NaN,2,0
119257,2015,Angola,Zimbabwe,G / FI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
119258,2015,Argentina,Zimbabwe,G / FI,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [44]:
dfHP15 = pd.read_csv("../data/Happiness Index/2015.csv")

In [41]:
dfHP16 = pd.read_csv("../data/Happiness Index/2016.csv")

In [48]:
df15Merged = df_filtered15.merge(dfHP15, left_on = 'Country / territory of asylum/residence', right_on = 'Country', how ='inner')

In [49]:
df16Merged = df_filtered16.merge(dfHP16, left_on = 'Country / territory of asylum/residence', right_on = 'Country', how ='inner')

In [53]:
df15Grouped = df15Merged.groupby(['Country / territory of asylum/residence'])[["Tota pending start-year"]].sum()

In [55]:
df15Grouped.sort(['Tota pending start-year'], ascending = 1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

                                                             Tota pending start-year
Country / territory of asylum/residence
Montenegro                               0000030000190000020130000030000000036000020
Sierra Leone                                                                11104170
Ecuador                                                                        11583
Bahrain                                                                      3390000
Afghanistan                                                                      NaN
Albania                                                                          NaN
Algeria                                                                          NaN
Angola                                                                           NaN
Argentina                                                                        NaN
Armenia                                                                          NaN
Australia                                                                        NaN
Austria                                                                          NaN
...                                                                              ...
Togo                                                                             NaN
Trinidad and Tobago                                                              NaN
Tunisia                                                                          NaN
Turkey                                                                           NaN
Uganda                                                                           NaN
Ukraine                                                                          NaN
United Arab Emirates                                                             NaN
United Kingdom                                                                   NaN
Uruguay                                                                          NaN
Yemen                                                                            NaN
Zambia                                                                           NaN
Zimbabwe                                                                         NaN

[127 rows x 1 columns]