In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import plotly 
import plotly.plotly as py 
import plotly.figure_factory as ff
from plotly.graph_objs import *
import matplotlib.pyplot as plt
import matplotlib.lines as mlines

In [2]:
monthlyAsylumSeekers = pd.read_csv("../data/unhcr_popstats_export_asylum_seekers_monthly_2017_11_04_021951.csv", sep=",", engine='python', encoding ='latin1')                 
monthlyAsylumSeekers.head()

  Country / territory of asylum/residence   Origin  Year  Month Value
0                                  Greece  Georgia  2008  March   140
1                                  Greece  Georgia  2008  April   199
2                                  Greece  Georgia  2008    May   210
3                                  Greece  Georgia  2008   June   208
4                                  Greece  Georgia  2008   July   224

In [4]:
monthlyAsylumSeekers.groupby(['Country / territory of asylum/residence', 'Origin', 'Month', 'Year'], sort=True)['Value'].sum().head()

Country / territory of asylum/residence  Origin       Month     Year
Albania                                  Afghanistan  February  2017     *
                                                      January   2017    21
                                                      July      2016    19
                                                      June      2016    18
                                                      May       2015     3
Name: Value, dtype: object