## Refugees by Country or Territory of Origin Data Set

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
import plotly 
import plotly.plotly as py 
from plotly.grid_objs import Grid, Column
import plotly.figure_factory as ff
from plotly.graph_objs import *
import cufflinks as cf
import time
plotly.tools.set_credentials_file(username='bluecrayon52', api_key='jidjcpp2L31WYmRfaHZx')

### Cleaning Data with Pandas 
Here we are reading in a csv and removing some unwanted and or empty portion of data.

In [3]:
df = pd.read_csv("../data/ref_by_c_orig/ref_by_c_orig.csv")                 

# re-naming a column 
df=df.rename(columns = {'Country Name':'country'})
df.set_index('country')

# deleting various columns 
del df["Indicator Name"]
del df["Indicator Code"]

# dropping empty rows 
df2=df.dropna(subset=['1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002',
                 '2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016'], 
                  how='all')

# dropping empty columns 
df3=df2.dropna(axis=1, how='all')
df3.head(20)

,country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,Afghanistan,AFG,6339095.0,6306301.0,4552153.0,3374576.0,2731169.0,2679133.0,2674236.0,2676674.0,...,3057661.0,2833128.0,2887123.0,3054709.0,2664436.0,2586152.0,2556502.0,2596270.0,2666305.0,2501410.0
2,Angola,AGO,407760.0,381636.0,300492.0,323831.0,282577.0,246657.0,249687.0,267696.0,...,186155.0,171393.0,141021.0,134858.0,128664.0,19258.0,10286.0,9484.0,11869.0,8363.0
3,Albania,ALB,1822.0,3540.0,4353.0,4744.0,5019.0,5803.0,5785.0,5379.0,...,15340.0,15006.0,15711.0,14772.0,13551.0,12568.0,10103.0,10158.0,10408.0,11050.0
4,Andorra,AND,NaN,NaN,NaN,NaN,2.0,2.0,3.0,1.0,...,9.0,6.0,6.0,6.0,6.0,7.0,5.0,7.0,5.0,NaN
5,Arab World,ARB,2212498.0,2408680.0,2614885.0,1906599.0,2001784.0,2005056.0,2035564.0,1864336.0,...,3722824.0,3328247.0,3029306.0,3034372.0,3205416.0,3359110.0,4804384.0,6200005.0,7077207.0,7702745.0
6,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,308.0,256.0,414.0,424.0,486.0,584.0,90.0,90.0,99.0,103.0
7,Argentina,ARG,334.0,198.0,113.0,98.0,469.0,330.0,217.0,159.0,...,1171.0,1047.0,608.0,557.0,518.0,447.0,388.0,318.0,194.0,115.0
8,Armenia,ARM,1.0,1.0,195003.0,200116.0,201842.0,201442.0,203231.0,203690.0,...,15436.0,16336.0,18000.0,17547.0,16487.0,15935.0,11998.0,11848.0,11214.0,10687.0
10,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,25.0,26.0,28.0,30.0,32.0,45.0,49.0,53.0,56.0,77.0
11,Australia,AUS,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,...,63.0,43.0,28.0,37.0,39.0,48.0,28.0,25.0,20.0,NaN
12,Austria,AUT,NaN,NaN,NaN,NaN,60.0,49.0,52.0,55.0,...,23.0,14.0,12.0,10.0,11.0,12.0,10.0,10.0,4.0,NaN
13,Azerbaijan,AZE,NaN,NaN,300000.0,328005.0,299095.0,200520.0,236086.0,234950.0,...,15916.0,16319.0,16939.0,16753.0,16162.0,15537.0,10814.0,10515.0,9710.0,10087.0
14,Burundi,BDI,191622.0,223946.0,184135.0,871382.0,389706.0,350582.0,428680.0,519123.0,...,375727.0,281592.0,94239.0,84064.0,101288.0,73363.0,72647.0,72493.0,292764.0,408036.0
15,Belgium,BEL,NaN,NaN,NaN,NaN,2.0,3.0,5.0,10.0,...,60.0,61.0,71.0,83.0,90.0,93.0,78.0,75.0,65.0,44.0
16,Benin,BEN,2.0,4.0,4.0,68.0,77.0,54.0,46.0,46.0,...,271.0,318.0,411.0,442.0,461.0,457.0,302.0,340.0,412.0,464.0
17,Burkina Faso,BFA,2.0,8.0,61.0,63.0,67.0,63.0,72.0,118.0,...,558.0,725.0,990.0,1145.0,1271.0,1460.0,1584.0,1857.0,2148.0,2327.0
18,Bangladesh,BGD,477.0,611.0,53921.0,57158.0,56199.0,56956.0,57959.0,44373.0,...,10243.0,10098.0,10432.0,10049.0,10056.0,10161.0,9728.0,10883.0,12173.0,13810.0
19,Bulgaria,BGR,1922.0,2735.0,2981.0,3155.0,4689.0,4156.0,3246.0,3048.0,...,3311.0,3040.0,2745.0,2559.0,2327.0,2147.0,1880.0,1648.0,1269.0,794.0
20,Bahrain,BHR,39.0,52.0,53.0,60.0,75.0,71.0,63.0,82.0,...,73.0,80.0,79.0,87.0,215.0,297.0,275.0,347.0,421.0,446.0
21,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15.0,15.0,17.0,185.0,196.0,210.0,215.0,215.0,293.0

### Saving DataFrames 
I saved a csv, to be used with plotly later, and a pickle file, to be used directly.

In [4]:
df3.to_csv("../data/ref_by_c_orig/refugee.csv")

In [5]:
#df3.to_pickle("../data/ref_by_c_orig/refugee_pickle_1")

In [6]:
refugees=pd.read_pickle("../data/ref_by_c_orig/refugee_pickle_1")
refugees.head(20)

,country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,Afghanistan,AFG,6339095.0,6306301.0,4552153.0,3374576.0,2731169.0,2679133.0,2674236.0,2676674.0,...,3057661.0,2833128.0,2887123.0,3054709.0,2664436.0,2586152.0,2556502.0,2596270.0,2666305.0,2501410.0
2,Angola,AGO,407760.0,381636.0,300492.0,323831.0,282577.0,246657.0,249687.0,267696.0,...,186155.0,171393.0,141021.0,134858.0,128664.0,19258.0,10286.0,9484.0,11869.0,8363.0
3,Albania,ALB,1822.0,3540.0,4353.0,4744.0,5019.0,5803.0,5785.0,5379.0,...,15340.0,15006.0,15711.0,14772.0,13551.0,12568.0,10103.0,10158.0,10408.0,11050.0
4,Andorra,AND,NaN,NaN,NaN,NaN,2.0,2.0,3.0,1.0,...,9.0,6.0,6.0,6.0,6.0,7.0,5.0,7.0,5.0,NaN
5,Arab World,ARB,2212498.0,2408680.0,2614885.0,1906599.0,2001784.0,2005056.0,2035564.0,1864336.0,...,3722824.0,3328247.0,3029306.0,3034372.0,3205416.0,3359110.0,4804384.0,6200005.0,7077207.0,7702745.0
6,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,308.0,256.0,414.0,424.0,486.0,584.0,90.0,90.0,99.0,103.0
7,Argentina,ARG,334.0,198.0,113.0,98.0,469.0,330.0,217.0,159.0,...,1171.0,1047.0,608.0,557.0,518.0,447.0,388.0,318.0,194.0,115.0
8,Armenia,ARM,1.0,1.0,195003.0,200116.0,201842.0,201442.0,203231.0,203690.0,...,15436.0,16336.0,18000.0,17547.0,16487.0,15935.0,11998.0,11848.0,11214.0,10687.0
10,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,25.0,26.0,28.0,30.0,32.0,45.0,49.0,53.0,56.0,77.0
11,Australia,AUS,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,...,63.0,43.0,28.0,37.0,39.0,48.0,28.0,25.0,20.0,NaN
12,Austria,AUT,NaN,NaN,NaN,NaN,60.0,49.0,52.0,55.0,...,23.0,14.0,12.0,10.0,11.0,12.0,10.0,10.0,4.0,NaN
13,Azerbaijan,AZE,NaN,NaN,300000.0,328005.0,299095.0,200520.0,236086.0,234950.0,...,15916.0,16319.0,16939.0,16753.0,16162.0,15537.0,10814.0,10515.0,9710.0,10087.0
14,Burundi,BDI,191622.0,223946.0,184135.0,871382.0,389706.0,350582.0,428680.0,519123.0,...,375727.0,281592.0,94239.0,84064.0,101288.0,73363.0,72647.0,72493.0,292764.0,408036.0
15,Belgium,BEL,NaN,NaN,NaN,NaN,2.0,3.0,5.0,10.0,...,60.0,61.0,71.0,83.0,90.0,93.0,78.0,75.0,65.0,44.0
16,Benin,BEN,2.0,4.0,4.0,68.0,77.0,54.0,46.0,46.0,...,271.0,318.0,411.0,442.0,461.0,457.0,302.0,340.0,412.0,464.0
17,Burkina Faso,BFA,2.0,8.0,61.0,63.0,67.0,63.0,72.0,118.0,...,558.0,725.0,990.0,1145.0,1271.0,1460.0,1584.0,1857.0,2148.0,2327.0
18,Bangladesh,BGD,477.0,611.0,53921.0,57158.0,56199.0,56956.0,57959.0,44373.0,...,10243.0,10098.0,10432.0,10049.0,10056.0,10161.0,9728.0,10883.0,12173.0,13810.0
19,Bulgaria,BGR,1922.0,2735.0,2981.0,3155.0,4689.0,4156.0,3246.0,3048.0,...,3311.0,3040.0,2745.0,2559.0,2327.0,2147.0,1880.0,1648.0,1269.0,794.0
20,Bahrain,BHR,39.0,52.0,53.0,60.0,75.0,71.0,63.0,82.0,...,73.0,80.0,79.0,87.0,215.0,297.0,275.0,347.0,421.0,446.0
21,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15.0,15.0,17.0,185.0,196.0,210.0,215.0,215.0,293.0

### Playing with Plotly 
here we are using cufflinks to directly plot a dataframe with plotly

In [7]:
refugees.iplot(x='country', y='1990', kind='bar', filename='refugees_bar_1990')

In [8]:
refugees.iplot(x='country', y='2016', kind='bar', filename='refugees_bar_2016')

### ISO ALPHA-3 Country codes 
The data set contains some aggregated data that does not match a known country code, so we need to filter those aggregates out.   
Another dataframe is created containing the official country codes and merged with the origional refugee dataframe to filter out the 'Country Code' values that do not match a known code.

In [9]:
# read in the codes
iso_3 = pd.read_excel("../data/ref_by_c_orig/country_code_web.xls",  header=1)
# rename column for merging 
iso_3=iso_3.rename(columns = {'ISO ALPHA-3 code':'Country Code'})
# get rid of redundant data
iso_3=iso_3.drop('Country or area name', axis=1)
iso_3.head(20)
# merge to filter codes
refugees = pd.merge(iso_3, refugees)
# save the dataframe 
#refugees.to_pickle("../data/ref_by_c_orig/refugee_pickle_2")
refugees = pd.read_pickle("../data/ref_by_c_orig/refugee_pickle_2")
refugees.head(20)

,Country Code,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AFG,Afghanistan,6339095.0,6306301.0,4552153.0,3374576.0,2731169.0,2679133.0,2674236.0,2676674.0,...,3057661.0,2833128.0,2887123.0,3054709.0,2664436.0,2586152.0,2556502.0,2596270.0,2666305.0,2501410.0
1,ALB,Albania,1822.0,3540.0,4353.0,4744.0,5019.0,5803.0,5785.0,5379.0,...,15340.0,15006.0,15711.0,14772.0,13551.0,12568.0,10103.0,10158.0,10408.0,11050.0
2,DZA,Algeria,19.0,55.0,71.0,86.0,20743.0,1520.0,2247.0,3418.0,...,10615.0,9060.0,8185.0,6689.0,6121.0,5677.0,3660.0,3524.0,3490.0,3675.0
3,AND,Andorra,NaN,NaN,NaN,NaN,2.0,2.0,3.0,1.0,...,9.0,6.0,6.0,6.0,6.0,7.0,5.0,7.0,5.0,NaN
4,AGO,Angola,407760.0,381636.0,300492.0,323831.0,282577.0,246657.0,249687.0,267696.0,...,186155.0,171393.0,141021.0,134858.0,128664.0,19258.0,10286.0,9484.0,11869.0,8363.0
5,ATG,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,25.0,26.0,28.0,30.0,32.0,45.0,49.0,53.0,56.0,77.0
6,ARG,Argentina,334.0,198.0,113.0,98.0,469.0,330.0,217.0,159.0,...,1171.0,1047.0,608.0,557.0,518.0,447.0,388.0,318.0,194.0,115.0
7,ARM,Armenia,1.0,1.0,195003.0,200116.0,201842.0,201442.0,203231.0,203690.0,...,15436.0,16336.0,18000.0,17547.0,16487.0,15935.0,11998.0,11848.0,11214.0,10687.0
8,AUS,Australia,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,...,63.0,43.0,28.0,37.0,39.0,48.0,28.0,25.0,20.0,NaN
9,AUT,Austria,NaN,NaN,NaN,NaN,60.0,49.0,52.0,55.0,...,23.0,14.0,12.0,10.0,11.0,12.0,10.0,10.0,4.0,NaN
10,AZE,Azerbaijan,NaN,NaN,300000.0,328005.0,299095.0,200520.0,236086.0,234950.0,...,15916.0,16319.0,16939.0,16753.0,16162.0,15537.0,10814.0,10515.0,9710.0,10087.0
11,BHS,"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15.0,15.0,17.0,185.0,196.0,210.0,215.0,215.0,293.0
12,BHR,Bahrain,39.0,52.0,53.0,60.0,75.0,71.0,63.0,82.0,...,73.0,80.0,79.0,87.0,215.0,297.0,275.0,347.0,421.0,446.0
13,BGD,Bangladesh,477.0,611.0,53921.0,57158.0,56199.0,56956.0,57959.0,44373.0,...,10243.0,10098.0,10432.0,10049.0,10056.0,10161.0,9728.0,10883.0,12173.0,13810.0
14,BRB,Barbados,NaN,NaN,NaN,NaN,4.0,3.0,2.0,3.0,...,38.0,34.0,29.0,32.0,45.0,55.0,67.0,86.0,99.0,144.0
15,BLR,Belarus,NaN,NaN,NaN,2.0,37.0,84.0,501.0,303.0,...,4970.0,5384.0,5525.0,5743.0,5925.0,6191.0,4397.0,4300.0,4125.0,3824.0
16,BEL,Belgium,NaN,NaN,NaN,NaN,2.0,3.0,5.0,10.0,...,60.0,61.0,71.0,83.0,90.0,93.0,78.0,75.0,65.0,44.0
17,BLZ,Belize,NaN,NaN,NaN,NaN,8.0,8.0,3.0,NaN,...,17.0,20.0,17.0,23.0,32.0,39.0,40.0,45.0,51.0,53.0
18,BEN,Benin,2.0,4.0,4.0,68.0,77.0,54.0,46.0,46.0,...,271.0,318.0,411.0,442.0,461.0,457.0,302.0,340.0,412.0,464.0
19,BMU,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Isolate, clean and sort the data from 1990 
Starting with the earliest year for which we have data, 1990, we will now create an isolated sub-frame to be cleaned of 'NaN' values and sorted.

In [10]:
# create the sub-frame
temp = pd.DataFrame(columns=['Country Code','country','1990']) 
temp['Country Code'] = refugees['Country Code']
temp['country'] = refugees['country']
temp['1990'] = refugees['1990']
# remove NaN values
temp = temp.dropna().sort_values('1990',ascending=False)
# save the sub-frame 
#temp.to_pickle('../data/ref_by_c_orig/1990_pickle')
ref90 = pd.read_pickle('../data/ref_by_c_orig/1990_pickle')
ref90.head(20)

    Country Code             country       1990
0            AFG         Afghanistan  6339095.0
61           ETH            Ethiopia  1345928.0
120          MOZ          Mozambique  1247992.0
85           IRQ                Iraq  1133805.0
101          LBR             Liberia   735689.0
167          SDN               Sudan   523998.0
195          VNM             Vietnam   496029.0
163          SOM             Somalia   470174.0
4            AGO              Angola   407760.0
147          RWA              Rwanda   361322.0
166          LKA           Sri Lanka   208271.0
28           BDI             Burundi   191622.0
35           TCD                Chad   184806.0
97           LAO             Lao PDR   135633.0
146          RUS  Russian Federation   117736.0
84           IRN  Iran, Islamic Rep.    75889.0
50           COD    Congo, Dem. Rep.    67423.0
112          MRT          Mauritania    65999.0
155          SEN             Senegal    60006.0
185          UGA              Uganda    58820.0

### Choropleths
We will now use plotly to visualize the refugee data by country of origin on a world map.   
A Plotly Choropleth 'locations' attribute can take in the ISO ALPHA-3 Country codes and map our refugee numbers to the appropriate Country on the map.

In [11]:
data = [ dict(
        type = 'choropleth',
    
    # can take country codes 
        locations = ref90['Country Code'],
        z = ref90['1990'],
        text = ref90['country'],
        colorscale = [[0,"rgb(0, 89, 179)"],[0.8, "rgb(26, 140, 255)"],[1,"rgb(255, 255, 255)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Refugee Population<br>by Country of Origin'),
      ) ]

In [12]:
layout = dict(
    title = '1990 Refugee Population by Country of Origin<br>Source:\
            <a href="https://data.worldbank.org/indicator/SM.POP.REFG.OR">\
            The World Bank</a>',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

In [13]:
fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-world-map_1990' )

### Isolate, clean and sort the data from 2016
Let's do the same thing but with the data from 2016

In [14]:
# create the sub-frame
temp = pd.DataFrame(columns=['Country Code','country','2016']) 
temp['Country Code'] = refugees['Country Code']
temp['country'] = refugees['country']
temp['2016'] = refugees['2016']
# remove NaN values
temp = temp.dropna().sort_values('2016',ascending=False)
# save the sub-frame 
#temp.to_pickle('../data/ref_by_c_orig/2016_pickle')
ref16 = pd.read_pickle('../data/ref_by_c_orig/2016_pickle')
ref16.head(20)

    Country Code                   country       2016
172          SYR      Syrian Arab Republic  5524333.0
0            AFG               Afghanistan  2501410.0
163          SOM                   Somalia  1012277.0
167          SDN                     Sudan   650588.0
50           COD          Congo, Dem. Rep.   537429.0
34           CAF  Central African Republic   490869.0
121          MMR                   Myanmar   490265.0
59           ERI                   Eritrea   459390.0
28           BDI                   Burundi   408036.0
195          VNM                   Vietnam   329331.0
85           IRQ                      Iraq   315998.0
40           COL                  Colombia   311051.0
147          RWA                    Rwanda   286033.0
186          UKR                   Ukraine   239048.0
129          NGA                   Nigeria   229261.0
37           CHN                     China   207733.0
109          MLI                      Mali   156390.0
166          LKA                 Sri Lanka   117447.0
133          PAK                  Pakistan   105376.0
131          PSE        West Bank and Gaza    97749.0

In [15]:
data = [ dict(
        type = 'choropleth',
    
    # can take country codes 
        locations = ref16['Country Code'],
        z = ref16['2016'],
        text = ref16['country'],
        colorscale = [[0,"rgb(0, 89, 179)"],[0.8, "rgb(26, 140, 255)"],[1,"rgb(255, 255, 255)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Refugee Population<br>by Country of Origin'),
      ) ]

In [16]:
layout = dict(
    title = '2016 Refugee Population by Country of Origin<br>Source:\
            <a href="https://data.worldbank.org/indicator/SM.POP.REFG.OR">\
            The World Bank</a>',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

In [17]:
fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-world-map_2016' )

### Highest Average Exodus Over 26 Years by Year (1990-2016)

In [19]:
ref_avg_year = pd.read_pickle("../data/ref_by_c_orig/refugee_pickle_2").mean().sort_values(ascending=False)
ref_avg_year.head(27)

1990    136511.654206
1991    121909.559322
1992    112407.403101
1993     99796.856115
2016     90229.222222
1994     82244.934132
2015     77944.792746
1995     72781.616279
2014     69274.061538
1996     65922.550562
2001     60806.207865
1997     59664.561111
2000     58470.205405
2013     58080.928205
2007     57536.114583
1998     56441.591160
1999     55715.592391
2002     54028.331551
2010     53581.968586
2009     53496.984043
2008     53132.659686
2011     52656.739583
2012     52471.528497
2006     49783.764398
2003     48519.026738
2004     48511.301075
2005     44901.301075
dtype: float64

### Highest Average Exodus Over 26 Years by Country (1990-2016)

In [42]:
ref = pd.read_pickle("../data/ref_by_c_orig/refugee_pickle_2")
temp = ref.mean(axis=1) 
temp2 = pd.DataFrame(columns=['Country','Average'])
temp2['Country'] = ref['country']
temp2['Average'] = temp.values
ref_avg_country = temp2.sort_values('Average',ascending=False)
ref_avg_country.head(20)

                    Country       Average
0               Afghanistan  3.064346e+06
85                     Iraq  8.836869e+05
163                 Somalia  6.752251e+05
172    Syrian Arab Republic  6.566826e+05
167                   Sudan  5.006292e+05
195                 Vietnam  3.992457e+05
28                  Burundi  3.553594e+05
22   Bosnia and Herzegovina  3.344917e+05
50         Congo, Dem. Rep.  3.296523e+05
101                 Liberia  3.121401e+05
147                  Rwanda  3.113982e+05
59                  Eritrea  2.966311e+05
121                 Myanmar  2.410284e+05
4                    Angola  2.324130e+05
120              Mozambique  2.078921e+05
45                  Croatia  1.666696e+05
131      West Bank and Gaza  1.652763e+05
10               Azerbaijan  1.622011e+05
40                 Colombia  1.557114e+05
158            Sierra Leone  1.484176e+05

### Slider Animations with Choropleths

In [15]:
refugees=pd.read_pickle("../data/ref_by_c_orig/refugee_pickle_2")
refugees.head(20)

,Country Code,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AFG,Afghanistan,6339095.0,6306301.0,4552153.0,3374576.0,2731169.0,2679133.0,2674236.0,2676674.0,...,3057661.0,2833128.0,2887123.0,3054709.0,2664436.0,2586152.0,2556502.0,2596270.0,2666305.0,2501410.0
1,ALB,Albania,1822.0,3540.0,4353.0,4744.0,5019.0,5803.0,5785.0,5379.0,...,15340.0,15006.0,15711.0,14772.0,13551.0,12568.0,10103.0,10158.0,10408.0,11050.0
2,DZA,Algeria,19.0,55.0,71.0,86.0,20743.0,1520.0,2247.0,3418.0,...,10615.0,9060.0,8185.0,6689.0,6121.0,5677.0,3660.0,3524.0,3490.0,3675.0
3,AND,Andorra,NaN,NaN,NaN,NaN,2.0,2.0,3.0,1.0,...,9.0,6.0,6.0,6.0,6.0,7.0,5.0,7.0,5.0,NaN
4,AGO,Angola,407760.0,381636.0,300492.0,323831.0,282577.0,246657.0,249687.0,267696.0,...,186155.0,171393.0,141021.0,134858.0,128664.0,19258.0,10286.0,9484.0,11869.0,8363.0
5,ATG,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,25.0,26.0,28.0,30.0,32.0,45.0,49.0,53.0,56.0,77.0
6,ARG,Argentina,334.0,198.0,113.0,98.0,469.0,330.0,217.0,159.0,...,1171.0,1047.0,608.0,557.0,518.0,447.0,388.0,318.0,194.0,115.0
7,ARM,Armenia,1.0,1.0,195003.0,200116.0,201842.0,201442.0,203231.0,203690.0,...,15436.0,16336.0,18000.0,17547.0,16487.0,15935.0,11998.0,11848.0,11214.0,10687.0
8,AUS,Australia,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,...,63.0,43.0,28.0,37.0,39.0,48.0,28.0,25.0,20.0,NaN
9,AUT,Austria,NaN,NaN,NaN,NaN,60.0,49.0,52.0,55.0,...,23.0,14.0,12.0,10.0,11.0,12.0,10.0,10.0,4.0,NaN
10,AZE,Azerbaijan,NaN,NaN,300000.0,328005.0,299095.0,200520.0,236086.0,234950.0,...,15916.0,16319.0,16939.0,16753.0,16162.0,15537.0,10814.0,10515.0,9710.0,10087.0
11,BHS,"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15.0,15.0,17.0,185.0,196.0,210.0,215.0,215.0,293.0
12,BHR,Bahrain,39.0,52.0,53.0,60.0,75.0,71.0,63.0,82.0,...,73.0,80.0,79.0,87.0,215.0,297.0,275.0,347.0,421.0,446.0
13,BGD,Bangladesh,477.0,611.0,53921.0,57158.0,56199.0,56956.0,57959.0,44373.0,...,10243.0,10098.0,10432.0,10049.0,10056.0,10161.0,9728.0,10883.0,12173.0,13810.0
14,BRB,Barbados,NaN,NaN,NaN,NaN,4.0,3.0,2.0,3.0,...,38.0,34.0,29.0,32.0,45.0,55.0,67.0,86.0,99.0,144.0
15,BLR,Belarus,NaN,NaN,NaN,2.0,37.0,84.0,501.0,303.0,...,4970.0,5384.0,5525.0,5743.0,5925.0,6191.0,4397.0,4300.0,4125.0,3824.0
16,BEL,Belgium,NaN,NaN,NaN,NaN,2.0,3.0,5.0,10.0,...,60.0,61.0,71.0,83.0,90.0,93.0,78.0,75.0,65.0,44.0
17,BLZ,Belize,NaN,NaN,NaN,NaN,8.0,8.0,3.0,NaN,...,17.0,20.0,17.0,23.0,32.0,39.0,40.0,45.0,51.0,53.0
18,BEN,Benin,2.0,4.0,4.0,68.0,77.0,54.0,46.0,46.0,...,271.0,318.0,411.0,442.0,461.0,457.0,302.0,340.0,412.0,464.0
19,BMU,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Melt year columns into a row

In [72]:
df = pd.melt(refugees, id_vars=["country", "Country Code"], 
                  var_name="Year", value_name="Refugees")
# df.to_pickle('../data/ref_by_c_orig/melt_pickle')
refugees=pd.read_pickle('../data/ref_by_c_orig/melt_pickle')
refugees.head(20)

                country Country Code  Year   Refugees
0           Afghanistan          AFG  1990  6339095.0
1               Albania          ALB  1990     1822.0
2               Algeria          DZA  1990       19.0
3               Andorra          AND  1990        NaN
4                Angola          AGO  1990   407760.0
5   Antigua and Barbuda          ATG  1990        NaN
6             Argentina          ARG  1990      334.0
7               Armenia          ARM  1990        1.0
8             Australia          AUS  1990        NaN
9               Austria          AUT  1990        NaN
10           Azerbaijan          AZE  1990        NaN
11         Bahamas, The          BHS  1990        NaN
12              Bahrain          BHR  1990       39.0
13           Bangladesh          BGD  1990      477.0
14             Barbados          BRB  1990        NaN
15              Belarus          BLR  1990        NaN
16              Belgium          BEL  1990        NaN
17               Belize          BLZ  1990        NaN
18                Benin          BEN  1990        2.0
19              Bermuda          BMU  1990        NaN

In [42]:
# refugees = refugees.dropna()

In [73]:
data = [dict(type='choropleth',
            locations = refugees['Country Code'],
            z=refugees['Refugees'],
            text = refugees['country'],
            colorscale = [[0,"rgb(0, 89, 179)"],[0.8, "rgb(26, 140, 255)"],[1,"rgb(255, 255, 255)"]],
            autocolorscale = False,
            reversescale = True,
            marker = dict(
                 line = dict (
                    color = 'rgb(180,180,180)',
                    width = 0.5
                ) 
             ),
            colorbar = dict(
            autotick = False,
            title = 'Refugee Population<br>by Country of Origin')
            )]

In [74]:
for i in range(26):
    data.append(data[0].copy())
    data[-1]['z'] = data[0]['z'] * np.random.rand(*data[0]['z'].shape)

In [75]:
steps = []
for i in range(len(data)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data)],
                label='{}'.format(i + 1990))
    step['args'][1][i] = True
    steps.append(step)

In [76]:
sliders = [dict(active=0,
                pad={"t": 1},
                steps=steps)]

In [77]:
layout = dict(
    title = 'Refugee Population by Country of Origin 1990-2016<br>Source:\
            <a href="https://data.worldbank.org/indicator/SM.POP.REFG.OR">\
            The World Bank</a>',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(type = 'Mercator')
    ),
    sliders=sliders)

In [78]:
fig = dict(data=data, 
           layout=layout)

In [79]:
py.iplot(fig, validate=False, filename='d3-world-map_origin_sliders')